@import "tailwindcss";
/* @import 'sweetalert2/src/sweetalert2.scss' */

@font-face {
    font-family: 'ComicSans';
    src: url('/fonts/ComicSansMS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'ComicSans', cursive, sans-serif;
}
